#webCamWindow {
	border: 1px solid #000;
	width: 900px;
	height:  480px;
	position: fixed;
	top: 0;
	opacity: 1;
	left: 30px;
}

#canvas {
	position: fixed;
	opacity: 1;
	top: 0;
	left: 30px;
	width: 900px;
	height:  480px;
}

#movement {
	position: absolute;
	top: 0;
	left: 0px;
	border: 1px solid red;
	background: rgba(255,0,0,0.3);
}
